<div class="container">
  <div class="button">
    <form id="new-request-button" action="/requests/new">
      <input type="submit" value="Input New Request" />
    </form>
  </div>
  <form id="check-request-button" action="/requests">
    <input type="submit" value="Check Request Data" />
  </form>
</div> 