<div class="container row">
  <%= link_to "Input New Request", new_request_path, class: 'waves-effect waves-light btn-large center col s12' %>
</div>
<div class="container row">
  <%= link_to "Check Request Log", requestlog_path(@current_log), class: 'waves-effect waves-light btn-large center col s12' %>
</div>
<div class="container row">
  <%= link_to "Request Analytics", requestlogs_path, class: 'waves-effect waves-light btn-large center col s12' %>
</div>    