<div class="container" >
  <h1>New Request</h1>
  <form method="post" action="/requests">
    Artist: <input type="text" name="artist"><br>
    Song: <input type="text" name="song"><br>
    Genre: <input type="text" name="genre"><br>
    Source: <input type="text" name="source"><br>
    In Library? <select name="library?">
      <option value="true">True</option>
      <option value="false">False</option>
    </select><br>
    <input type="submit" value="Submit" />
  </form>
</div>