<!DOCTYPE html>
<html>
  <head>
    <title>RailsRequestLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">WZND Request Log</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
